Repository deepaucksharma/mcp-server-newrelic, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, build, ci, mcp, discovery, newrelic, config, security

.github/labeler.yml:

# Add 'documentation' label to any change in docs folder
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - docs/**
      - '**/*.md'

# Add 'test' label to any change in test files
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - tests/**
      - .github/workflows/*test*.yml

# Add 'build' label to build-related files
build:
  - changed-files:
    - any-glob-to-any-file:
      - Dockerfile
      - docker-compose.yml
      - Makefile
      - go.mod
      - go.sum
      - .github/workflows/release.yml

# Add 'ci' label to CI-related files
ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/dependabot.yml

# Add 'mcp' label to MCP-related changes
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - pkg/interface/mcp/**
      - cmd/mcp-server/**

# Add 'discovery' label to discovery-related changes
discovery:
  - changed-files:
    - any-glob-to-any-file:
      - pkg/discovery/**
      - cmd/uds-discovery/**

# Add 'newrelic' label to New Relic client changes
newrelic:
  - changed-files:
    - any-glob-to-any-file:
      - pkg/newrelic/**

# Add 'config' label to configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - pkg/config/**
      - .env.example
      - '**/*.yaml'
      - '**/*.yml'

# Add 'security' label to security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - pkg/auth/**
      - pkg/security/**
      - '**/*secret*'
      - '**/*auth*'

feat: add validation, utils packages and critical fixes
  cmd/mcp-server/main.go
  pkg/discovery/engine_helpers.go
  pkg/discovery/patterns/engine.go
  pkg/discovery/relationships/miner.go
  pkg/interface/api/server.go
  pkg/interface/mcp/server_discovery.go
  pkg/interface/mcp/server_nodiscovery.go
  pkg/interface/mcp/tools_alerts.go
  pkg/interface/mcp/tools_bulk.go
  pkg/interface/mcp/tools_query.go
  pkg/interface/mcp/transport_http.go
  pkg/interface/mcp/transport_sse.go
  pkg/state/factory.go
  pkg/state/manager.go
  pkg/state/memory_cache.go
  pkg/state/memory_store.go
  pkg/state/redis_store.go
  pkg/state/types.go
  pkg/utils/recovery.go
  pkg/validation/nrql.go
  pkg/validation/nrql_test.go
  test_critical_fixes.go
  test_e2e_critical.sh
  test_e2e_final.sh
Labels: test, mcp, discovery

fix: Complete remaining build errors in dashboard discovery tools
  ANTIPATTERNS_AND_FIXES.md
  DISCOVERY_BASED_DESIGN.md
  FINAL_TEST_SUMMARY.md
  KAFKA_DASHBOARD_TEST_RESULTS.md
  STUB_REMOVAL_SUMMARY.md
  dashboard_test_output.txt
  pkg/interface/mcp/tools_alerts.go
  pkg/interface/mcp/tools_bulk.go
  pkg/interface/mcp/tools_dashboard.go
  pkg/interface/mcp/tools_dashboard_discovery.go
  pkg/interface/mcp/transport_http.go
  pkg/newrelic/client.go
  pkg/newrelic/dashboard_widgets.go
  run_real_test.sh
  test_dashboard_creation.sh
  test_dashboard_simple.sh
  test_dashboard_with_timeout.sh
  test_direct_dashboard_creation.go
  test_discover_and_create_kafka.sh
  test_e2e_real.sh
  test_end_to_end.go
  test_kafka_dashboards.sh
  test_nrdb_connection.go
  test_proper_discovery.sh
  test_real_queries.py
  test_simple_e2e.sh
Labels: documentation, mcp, newrelic

fix: Add cross-account dashboard support with accountIDs parameter
  pkg/interface/mcp/tools_dashboard.go
Labels: mcp

feat: implement advanced NRQL features for OpenTelemetry support
  NRQL_IMPLEMENTATION_UPDATE.md
  pkg/interface/mcp/tools_dashboard.go
  pkg/interface/mcp/tools_dashboard_discovery.go
  pkg/interface/mcp/tools_query.go
Labels: documentation, mcp

chore: clean up redundant documentation and test files
  ANTIPATTERNS_AND_FIXES.md
  DISCOVERY_BASED_DESIGN.md
  FINAL_TEST_SUMMARY.md
  KAFKA_DASHBOARD_TEST_RESULTS.md
  NRQL_IMPLEMENTATION_UPDATE.md
  STUB_REMOVAL_SUMMARY.md
  pkg/interface/mcp/tools_dashboard.go
  pkg/interface/mcp/tools_dashboard_discovery.go
  pkg/interface/mcp/tools_dashboard_test.go
  run_real_test.sh
  test.sh
  test_dashboard_creation.sh
  test_dashboard_simple.sh
  test_dashboard_with_timeout.sh
  test_discover_and_create_kafka.sh
  test_e2e_critical.sh
  test_e2e_final.sh
  test_e2e_real.sh
  test_kafka_dashboards.sh
  test_proper_discovery.sh
  test_real_queries.py
  test_simple_e2e.sh
Labels: documentation, test, mcp

chore: streamline root directory structure
  .gitignore
  PROJECT_DOCUMENTATION.md
  ROADMAP.md
  TECHNICAL_SPEC.md
  TODO.md
  alerts/mcp-server-alerts.json
  dashboard_test_output.txt
  dashboards/mcp-server-dashboard.json
  docs/CROSS_ACCOUNT_IMPLEMENTATION.md
  docs/PROJECT_DOCUMENTATION.md
  docs/ROADMAP.md
  docs/TECHNICAL_SPEC.md
  docs/TODO.md
  env.example
  internal/testutil/fixtures.go
  monitoring/alerts.yml
  monitoring/grafana/dashboards/uds-overview.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  requirements.txt
  test_critical_fixes.go
  test_direct_dashboard_creation.go
  test_end_to_end.go
  test_env/lib64
  test_env/pyvenv.cfg
  test_nrdb_connection.go
  tests/integration/test_critical_fixes.go
  tests/integration/test_cross_account_dashboard.go
  tests/integration/test_cross_account_simple.go
  tests/integration/test_direct_dashboard_creation.go
  tests/integration/test_end_to_end.go
  tests/integration/test_nrdb_connection.go
Labels: documentation, test, config

feat: implement discovery-first architecture with 100+ granular tools
  DISCOVERY_FIRST_SUMMARY.md
  GRANULAR_TOOLS_SUMMARY.md
  README.md
  docs/API_REFERENCE_V2.md
  docs/ARCHITECTURE.md
  docs/CONSISTENCY_CHECK.md
  docs/DATA_OBSERVABILITY_TOOLKIT.md
  docs/DISCOVERY_DRIVEN_INVESTIGATION_EXAMPLES.md
  docs/DISCOVERY_FIRST_ARCHITECTURE.md
  docs/DISCOVERY_FIRST_CODE_EXAMPLE.md
  docs/DISCOVERY_FIRST_WORKFLOWS.md
  docs/DOCUMENTATION_MAP.md
  docs/FUNCTIONAL_WORKFLOWS_ANALYSIS.md
  docs/IMPLEMENTATION_LOG.md
  docs/IMPLEMENTATION_STATUS.md
  docs/MIGRATION_GUIDE.md
  docs/PROJECT_DOCUMENTATION.md
  docs/README.md
  docs/REFACTORING_GUIDE.md
  docs/TODO.md
  docs/TODO_MANAGEMENT.md
  docs/TOOL_GRANULARITY_ENHANCEMENT.md
  docs/TRACK2_PROGRESS.md
  docs/WORKFLOW_PATTERNS_GUIDE.md
  docs/apm-setup.md
  docs/track1-discovery-core.md
  docs/track2-interface-layer.md
  docs/track2-week1-summary.md
  docs/track2-week2-summary.md
  docs/track3-intelligence-engine.md
  docs/track4-platform-foundation.md
  pkg/interface/mcp/dryrun.go
  pkg/interface/mcp/metadata.go
  pkg/interface/mcp/tools_discovery_granular.go
  pkg/interface/mcp/tools_query_granular.go
  pkg/interface/mcp/tools_workflow_granular.go
  pkg/interface/mcp/workflow_orchestration.go
Labels: documentation, mcp

all
  CLAUDE.md
  CONTRIBUTING.md
  DISCOVERY_FIRST_SUMMARY.md
  DOCUMENTATION_AUDIT.md
  DOCUMENTATION_BLUEPRINT.md
  NO_ASSUMPTIONS_SUMMARY.md
  README.md
  ROADMAP_2025.md
  TROUBLESHOOTING.md
  docs/API_REFERENCE_COMPLETE.md
  docs/API_REFERENCE_V2.md
  docs/ARCHITECTURE_COMPLETE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DISCOVERY_FIRST_ARCHITECTURE.md
  docs/DISCOVERY_MAGIC_MOMENTS.md
  docs/DISCOVERY_PHILOSOPHY.md
  docs/DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/GRANULAR_TOOLS_SUMMARY.md
  docs/LLM_INTEGRATION_GUIDE.md
  docs/NO_ASSUMPTIONS_MANIFESTO.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/WOW_EXPERIENCE_DESIGN.md
  docs/ZERO_ASSUMPTIONS_EXAMPLES.md
  full_remaining_content.md
  pkg/interface/mcp/tools_governance_granular.go
Labels: documentation, mcp

new
  docs/BROKEN_REFERENCES_REPORT.md
  docs/QUICKSTART.md
  docs/README.md
  docs/guides/migration.md
  docs/guides/refactoring.md
Labels: documentation

docs: add comprehensive testing strategy
  docs/README.md
  docs/guides/comprehensive-testing-strategy.md
Labels: documentation

test: add skeleton testing framework
  Makefile
  README.md
  docs/TESTING_STRATEGY.md
  scripts/assumption_scan.sh
  testdata/.gitkeep
  testdata/README.md
  tests/README.md
  tests/ai-harness/.gitkeep
  tests/ai-harness/run.sh
  tests/chaos/.gitkeep
  tests/contract/.gitkeep
  tests/docs-examples/.gitkeep
  tests/integration/containers/.gitkeep
  tests/integration/run.sh
  tests/integration/terraform/.gitkeep
  tests/perf/.gitkeep
  tests/perf/run.sh
  tests/unit/.gitkeep
  tests/workflow/.gitkeep
  tests/workflow/run.sh
Labels: documentation, test, build

docs: add comprehensive testing strategy
  Makefile
  docs/README.md
  docs/guides/comprehensive-testing-strategy.md
  docs/guides/testing.md
  scripts/assumption_scan.sh
  tests/README.md
Labels: documentation, test, build

changes
  README.md
  docs/README.md
  docs/guides/error-handling.md
  docs/guides/mock-mode.md
  pkg/interface/mcp/errors.go
  pkg/interface/mcp/mock_data.go
  pkg/interface/mcp/protocol.go
  pkg/interface/mcp/protocol_batch_test.go
  pkg/interface/mcp/protocol_test.go
  pkg/interface/mcp/server_discovery.go
  pkg/interface/mcp/tools_alerts.go
  pkg/interface/mcp/tools_analysis.go
  pkg/interface/mcp/tools_bulk.go
  pkg/interface/mcp/tools_dashboard.go
  pkg/interface/mcp/tools_discovery_event_types.go
  pkg/interface/mcp/tools_discovery_impl.go
  pkg/interface/mcp/tools_profile_completeness.go
  pkg/interface/mcp/tools_query.go
  pkg/interface/mcp/types.go
Labels: documentation, test, mcp

feat: implement analysis tools and fix compilation errors
  cmd/uds-discovery/main.go
  cmd/uds/cmd/mcp.go
  docs/README.md
  docs/guides/bulk-operations.md
  pkg/discovery/engine_test.go
  pkg/discovery/grpc/server.go
  pkg/discovery/grpc/types.go
  pkg/discovery/quality/assessor.go
  pkg/discovery/relationships/miner.go
  pkg/discovery/sampling/strategies.go
  pkg/discovery/types.go
  pkg/interface/mcp/cache.go
  pkg/interface/mcp/dryrun.go
  pkg/interface/mcp/errors.go
  pkg/interface/mcp/metadata.go
  pkg/interface/mcp/protocol.go
  pkg/interface/mcp/protocol_batch_test.go
  pkg/interface/mcp/state_integration.go
  pkg/interface/mcp/tools_analysis.go
  pkg/interface/mcp/tools_bulk.go
  pkg/interface/mcp/tools_discovery.go
  pkg/interface/mcp/tools_discovery_event_types.go
  pkg/interface/mcp/tools_discovery_granular.go
  pkg/interface/mcp/tools_discovery_impl.go
  pkg/interface/mcp/tools_governance_granular.go
  pkg/interface/mcp/tools_nrql_adaptive.go
  pkg/interface/mcp/tools_profile_completeness.go
  pkg/interface/mcp/tools_query_granular.go
  pkg/interface/mcp/tools_workflow_simplified.go
  pkg/interface/mcp/types.go
  pkg/interface/mcp/workflow_orchestration.go
  pkg/newrelic/client.go
  pkg/newrelic/multi_account_client.go
Labels: documentation, test, mcp, discovery, newrelic

feat: implement comprehensive E2E testing framework
  .env.test.example
  Makefile
  Makefile.e2e
  docs/testing/e2e-testing-strategy.md
  docs/testing/e2e-testing-summary.md
  pkg/interface/mcp/protocol_comprehensive_test.go
  pkg/interface/mcp/tools_alerts.go
  pkg/interface/mcp/tools_dashboard.go
  pkg/interface/mcp/tools_discovery.go
  pkg/interface/mcp/tools_discovery_event_types.go
  pkg/interface/mcp/tools_discovery_granular.go
  pkg/interface/mcp/tools_governance.go
  pkg/interface/mcp/tools_integration_test.go
  pkg/interface/mcp/tools_nrql_adaptive.go
  pkg/interface/mcp/tools_query.go
  pkg/interface/mcp/transport_integration_test.go
  tests/e2e/README.md
  tests/e2e/discovery/event_types_test.go
  tests/e2e/framework/accounts.go
  tests/e2e/framework/client.go
  tests/e2e/harness/assertions.go
  tests/e2e/harness/executor.go
  tests/e2e/harness/parser.go
  tests/e2e/harness/report.go
  tests/e2e/harness/runner.go
  tests/e2e/harness/scenario.go
  tests/e2e/harness/trace.go
  tests/e2e/scenarios/disc-miss-001-missing-attributes.yaml
  tests/e2e/workflows/performance_investigation_test.go
Labels: documentation, test, build, mcp, config

fix: resolve all compilation errors and implement missing tool handlers
  pkg/interface/mcp/tools_analysis.go
  pkg/interface/mcp/tools_discovery.go
  pkg/interface/mcp/tools_discovery_event_types.go
  pkg/interface/mcp/tools_discovery_impl.go
  pkg/interface/mcp/tools_governance.go
  pkg/interface/mcp/tools_governance_granular.go
  pkg/interface/mcp/tools_nrql_adaptive.go
  pkg/interface/mcp/tools_query_granular.go
  pkg/interface/mcp/tools_workflow_granular.go
  pkg/interface/mcp/workflow_orchestration.go
  tests/e2e/E2E_TESTING_README.md
  tests/e2e/cmd/test-runner/main.go
  tests/e2e/discovery_tools_test.go
  tests/e2e/framework/accounts.go
  tests/e2e/framework/client.go
  tests/e2e/framework/mcp_client.go
  tests/e2e/protocol_test.go
  tests/e2e/scenarios/SCENARIO_CATALOG.md
  tests/e2e/scenarios/chaos-net-001-resilience.yaml
  tests/e2e/scenarios/gov-cost-001-optimization.yaml
  tests/e2e/scenarios/inc-sql-404-incident-response.yaml
  tests/e2e/scenarios/perf-cmp-001-cross-region-latency.yaml
  tests/e2e/scripts/seed-missing-attributes.py
  tests/e2e/validation_test.go
  tests/e2e/workflow_test.go
Labels: documentation, test, mcp, config

docs: update reports to reflect fixed compilation issues and current state
  cmd/mcp-server/main.go
  docs/BROKEN_REFERENCES_REPORT.md
  docs/FINAL_ALIGNMENT_SUMMARY.md
  docs/IMPLEMENTATION_GAPS_ANALYSIS.md
  pkg/interface/mcp/errors.go
  pkg/interface/mcp/tools_discovery_event_types.go
  pkg/interface/mcp/tools_discovery_impl.go
  tests/e2e/RESULTS.md
  tests/e2e/protocol_test.go
Labels: documentation, test, mcp

all
  docs/architecture/documentation-structure.md
  docs/architecture/ecosystem-overview.md
  docs/guides/quickstart.md
  pkg/interface/mcp/tools_discovery_impl.go
  tests/e2e/RESULTS.md
  tests/e2e/benchmark_test.go
  tests/e2e/protocol_test.go
Labels: documentation, test, mcp

docs: fix broken references and create quickstart guide
  README.md
  docs/architecture/ecosystem-overview.md
  docs/testing/E2E_PIPELINE.md
  tests/e2e/benchmark_test.go
Labels: documentation, test

feat: complete E2E testing implementation with performance benchmarks
  docs/testing/E2E_SUMMARY.md
  pkg/interface/mcp/analysis_algorithms.go
  pkg/interface/mcp/analysis_helpers.go
  pkg/interface/mcp/tools_action.go
  pkg/interface/mcp/tools_analysis.go
  pkg/interface/mcp/tools_discovery.go
Labels: documentation, mcp

feat: complete E2E testing implementation with analysis tools
  .github/workflows/e2e-tests.yml
  docs/testing/E2E_FINAL_SUMMARY.md
  pkg/interface/mcp/analysis_helpers.go
  pkg/interface/mcp/tools_analysis.go
  scripts/run-e2e-tests.sh
  test-reports/composable-test-results.xml
  test-reports/discovery-test-results.xml
  test-reports/protocol-test-results.xml
  tests/e2e/analysis_test.go
  tests/e2e/cmd/nr-reporter/main.go
Labels: documentation, test, ci, mcp, config

feat: add advanced E2E testing capabilities
  cmd/uds-discovery/main.go
  cmd/uds/cmd/mcp.go
  docs/testing/E2E_ENHANCEMENTS.md
  go.mod
  go.sum
  pkg/discovery/grpc/server.go
  pkg/discovery/grpc/types.go
  pkg/interface/mcp/protocol_enhanced_test.go
  tests/e2e/cmd/test-runner/main.go
  tests/e2e/contract_test.go
  tests/e2e/discovery/event_types_test.go
  tests/e2e/harness/executor.go
  tests/e2e/harness/parser.go
  tests/e2e/harness/report.go
  tests/e2e/harness/runner.go
  tests/e2e/load_test.go
  tests/e2e/resilience_test.go
Labels: documentation, test, build, mcp, discovery

fix: resolve all unit test failures and race conditions
  docs/testing/TESTING_STRATEGY.md
  pkg/interface/mcp/protocol_batch_test.go
  pkg/interface/mcp/protocol_enhanced_test.go
  pkg/interface/mcp/protocol_integration_test.go
  pkg/interface/mcp/tools_alerts.go
  pkg/interface/mcp/tools_alerts_test.go
  pkg/interface/mcp/tools_bulk.go
  pkg/interface/mcp/tools_bulk_test.go
  pkg/interface/mcp/tools_discovery_impl.go
  pkg/interface/mcp/tools_governance_test.go
  pkg/interface/mcp/tools_integration_test.go
  pkg/interface/mcp/tools_query.go
  pkg/interface/mcp/tools_query_test.go
  pkg/interface/mcp/transport_integration_test.go
  tests/e2e/scripts/validate-setup.sh
Labels: documentation, test, mcp

docs: update tool counts and categories
  README.md
Labels: documentation

docs: add monitor mode env var
  .env.example
  README.md
  docker-compose.yml
  docs/guides/deployment.md
Labels: documentation, build, config

docs: add changelog and update contribution guide
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: documentation
